In [1]:
a=int(input("Enter a no."))
n=a%2
if n==0:
    print("the no. is even")
else:
    print("the no. is odd")

Enter a no.5
the no. is odd

In [2]:
a=str(input("Enter a char"))
if "A"<=a[0]<="Z":
    print("the char is capital")
else:
    print("the char is small")

Enter a charsaurav
the char is small

In [3]:
a=str(input("Enter name"))
i=0
while i<len(a):
    if a[i] in ["a","i","e","o","u"]:
        pass
    else:
        print(a[i])
    i=i+1

Enter namesaurav
s
r
v

In [4]:
a=int(input("enter first no."))
b=int(input("enter second no."))
c=int(input("enter third no."))
if a>b and a>c:
    print("First no. is greatest")
elif b>a and b>c:
    print("Second no. is greatest")
else:
    print("Third no. is greatest")

enter first no.5
enter second no.6
enter third no.9
Third no. is greatest

In [5]:
year=int(input("Enter a year"))
x=year%4
y=year%100
if x==0 and y!=0:
    print("This yera is leap year")
else:
    print("This year is not leap year")

Enter a year2012
This yera is leap year

In [3]:
list = [2,3,5,9,2,6]
for i in list :
    print(i)

2
3
5
9
2
6

In [8]:
list = [2,3,6,8,3,9]
i = 1
for n in list :
    i *= n
print(i)

7776

In [10]:
for i in range(0,11) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [11]:
for i in range(10,0,-1) :
    print(i)

10
9
8
7
6
5
4
3
2
1

In [12]:
name = "saurav"
for i in name:
    print(i)

s
a
u
r
a
v

In [29]:
list = [65, 29, 2, 5, 69, 75, 35, 15, 96]
l = list[0]
for i in list :
    if i > l :
        l = num
print(l)

96

In [38]:
list = [65, 29, 2, 5, 69, 75, 35, 15, 96]
i = 0
for num in list :
    i += num
avg = i / (len(list) - 1)
print(avg)

48.875

In [41]:
name = "Saurav yadav"
for i in name :
    if i.isupper():
        print(i)

S

In [45]:
name = "Saurav yadav"
vowel = "aeoiuAEOIU"
count = 0
for i in name :
     if i in vowel :
        count += 1
print(count)

5

In [47]:
for i in range(5):
    for j in range(i + 1):
        print("*", end="")
    print()

*
**
***
****
*****

In [55]:
for num in range(2, 51):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47