Local Variables
:-it is variable which we are defining in the function and the scope will be in the fuction only.

In [3]:
def f():
    s="i love python"
    return s

In [4]:
f()

'i love python'

In [6]:
print(s) # it is showing error because we can aecess the "s" within the function only

NameError: name 's' is not defined

Global Variable :- global varibale is a variable which we are defining outside od function and the scope will be global

In [7]:
def f():
    global s
    s="i love python"
    return s

In [8]:
f()

'i love python'

In [9]:
print(s)

i love python

In [11]:
def f():
    s = "Me too."
    print(s)
    # here it output is me too is first because first we call f() and then give command of print(s) and s = "Me too." is not a global variable
 
s = "I love Geeksforgeeks"
f()
print(s)

Me too.
I love Geeksforgeeks

In [13]:
def f1():
    global x
    x+=1
    print(x)
x=12
print(x)

12

In [19]:
def f():
    global a
    print(a)
    a = "hello"
    print(a) 
a = "world" 
f()
print(a)

world
hello
hello

In [20]:
#A lambda function is a small anonymous function.
#lambda arguments : expression

In [29]:
lambda a, b : a+b

In [30]:
print((lambda a, b : a+b ),(2,3))

<function <lambda> at 0x0000020D810BB2E0> (2, 3)

In [31]:
mylambda = lambda a, b:a+b

In [32]:
mylambda(2,3)

5

In [33]:
x = lambda a : a+10

In [34]:
x(5)

15

In [35]:
x = lambda a,b: a*b

In [36]:
x(2,3)

6

In [37]:
x = lambda a,b,c : a+b+c

In [38]:
x(5,4,3)

12

In [40]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(12))

24

Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument.

In [41]:
x= lambda a:a+15

In [42]:
x(5)

20

Create a lambda function that multiplies argument x with argument y and prints the result.

In [43]:
x = lambda x,y:x*y

In [44]:
x(2,3)

6

Write a Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number.

In [46]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
subject_marks.sort(key=lambda x: x[1])

In [47]:
subject_marks

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

## Map Function in Python
The map () function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple, etc.).

Syntax: map(fun, iter)

In [52]:
def double(n):
    return n * 2

In [53]:
numbers = [5, 6, 7, 8]
result = map(double, numbers)

In [51]:
print(list(result))

[10, 12, 14, 16]

## Reduce Function in Python
The reduce function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

Syntax: reduce(func, iterable[, initial])

In [55]:
import functools
numbers = [1, 2, 3, 4]
add = functools.reduce(lambda x, y: x + y, numbers)
print(add)

10

In [54]:
import functools
numbers = [1, 2, 3, 4]
product = functools.reduce(lambda x, y: x * y, numbers)
print(product)

24

# #Filter Function in Python
The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not. 

Syntax: filter(function, sequence)

In [56]:
def even(n):
    return n%2 == 0

In [65]:
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9]
even_numbers = filter(even, my_list)

In [66]:
print(list(even_numbers))

[2, 4, 6, 8]

Write a Python program to triple all numbers in a given list of integers. Use Python map.

In [72]:
def triple(n):
    return n*3
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9]
triple_numbers = map(triple,my_list)
print(list(triple_numbers))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

Write a Python program to add three given lists using Python map and lambda

In [81]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
nums3 = [7, 8, 9]

In [84]:
 result = map(lambda x,y,z:x+y+z,nums1,nums2,nums3)
print(list(result))

[12, 15, 18]

Write a Python program to square the elements of a list using the map() function.

In [88]:
nums1 = [1, 2, 3]
result = map(lambda x : x**2, nums1)
print(list(result))

[1, 4, 9]

. Write a Python program that creates a list of names and uses the filter function to extract names that start with a vowel (A, E, I, O, U).

In [93]:
names = ["Anmol", "Saurav", "Anant", "lokesh", "Ankit", "dipesh", "jatin"]
def starts_with_vowel(name):
    return name[0].lower() in ['a', 'e', 'i', 'o', 'u']
vowel_names = (filter(starts_with_vowel, names))
print(list(vowel_names))

['Anmol', 'Anant', 'Ankit']