In [10]:
a=10
b=20
c=a+b
print(c)

30

In [11]:
a=input("enter first number")
b=input("enter second value")
c=int(a)+int(b)
print(c)

enter first number10
enter second value20
30

In [12]:
#by using function
def addition(a,b):      #function defination 
    c = a+b
    return c

In [13]:
addition(10,20)    #fuction calling

30

In [14]:
addition(30,20)

50

# #Write a function called absolute( ) to accept an integer as argument and return itâ€™s absolute value. Finally call it to get the absolute value of -7 and 9

In [15]:
def absolute(n):
    if n >0:
        return n
    else:
        return -n

In [17]:
absolute(-7)

7

In [18]:
absolute(9)

9

### WAP the factorial() function to calculate and return the factorial of the number given by the user.

In [19]:
def  factorial(n):
    f=1
    while n>1:
        f=f*n 
        n=n-1 
    print(f)

In [20]:
factorial(5)

120

In [21]:
#positional argument
def number(a,b,c,d):
    return a*b*c*d

In [23]:
number(10,20,30,40)

240000

In [24]:
#keyword argument
def number(a,b,c,d):
    return a*b*c*d

In [25]:
number(a=10,b=20,c=30,d=40)

240000

In [30]:
#default argument
def number(a,b,c=30):        #default argument should be always at last other wise it will give error
    return a*b*c

In [31]:
number(10,20)

6000

In [32]:
#variable length argument / function overloading
##### python does not support function overlaoding
def number(a,b,c,d):
    return a*b*c*d
def number(a,b,c,d,e):
    return a*b*c*d*e

In [34]:
number(10,20,30,40)    # in python it will take recent defination always

TypeError: number() missing 1 required positional argument: 'e'

In [35]:
number(10,20,30,40,50)

12000000

In [37]:
def number(*a):
    return a

In [39]:
number(10,20,30,4,0,51)   # it will give a tuple

(10, 20, 30, 4, 0, 51)

# ###Write a function called cal_area( ) using default argument concept which accepts radius and pi as arguments and calculates and displays area of the Circle. The value of pi should be used as default argument and value of radius should be accepted from the user

In [41]:
def cal_area(radius,pie=3.14):
    return pie*(radius**2)

In [42]:
radius = int(input("enter the radius"))
cal_area(radius)

enter the radius10

314.0

### Write a function called find_largest( ) which accepts multiple strings as argument and returns the length of the largest string

In [64]:
def find_largest():
    list=[]
    n = (input("enter string with space")).split(" ")
    for i in n :
        list.append(len(i))
        return max(list)

In [66]:
find_largest()

enter string with spaceassdd gege gergerer

5

In [67]:
def number(*a):
    return a , sum(a)

In [69]:
number(10,20,40)

((10, 20, 40), 70)

### Write a Python function to find the maximum of three number

In [79]:
def max_number():
    n=input("enter the no.").split()
    return max(list(n))

In [81]:
max_number()

enter the no.566594956 65649945622 644626494

'65649945622'

### Write a Python function to sum all the numbers in a list.

In [12]:
def sum_number(*n):
    total = 0
    for i in n:
        total += i
    return total

In [13]:
sum_number(2,3)

5