# List comprehension

list_comp=[X for x in iterable <test_condition>]

In [2]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list = []
i = 0
for i in num:
    i += 1
    my_list.append(i)
print(my_list)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [3]:
[X for X in num ]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
[x**2 for x in num]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
name=("sauravyadav")
my_list=[]
for i in name:
    my_list.append(i)
print(my_list)

['s', 'a', 'u', 'r', 'a', 'v', 'y', 'a', 'd', 'a', 'v']

In [9]:
[i for i in name]

['s', 'a', 'u', 'r', 'a', 'v', 'y', 'a', 'd', 'a', 'v']

# wap to produce squre of nos from 1 to 10, store them in a list and print the list.

In [10]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list=[]
#usind for loop
for i in num:
    my_list.append(i**2)
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
[x**2 for x in num ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# wap to accpet a string from user and covert each word of the given string into upper case store it ina list and print that list.

In [14]:
name=str(input("enter your name"))
my_list=[]
for i in name:
    my_list.append(i.upper())
print(my_list)

enter your namesaurav yadav
['S', 'A', 'U', 'R', 'A', 'V', ' ', 'Y', 'A', 'D', 'A', 'V']

In [15]:
[x.upper() for x in name]

['S', 'A', 'U', 'R', 'A', 'V', ' ', 'Y', 'A', 'D', 'A', 'V']

# wap to accept 5 int from user and store then in a list, now display the sum of element and the element of list

In [24]:
num=(input("enter 5 no.")).split()
my_list=[]
for i in num:
    my_list.append(int(i))
print(my_list)
print(sum(my_list))

enter 5 no.5 5 5 5 5
[5, 5, 5, 5, 5]
25

# wap to produce squre of only odd nos between 1 to 50, store them in a list and print the list.

In [31]:
my_list=[]
for x in range(1,51):
    if x%2 != 0:
        my_list.append(x**2)
print(my_list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [38]:
list2=[i**2 for i in range(1,51) if i%2 != 0]
print(list2)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

# create a function called removevowels() which accept a string as argument and return a list with all the vowels removed from the string

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_number=[n for n in numbers if n%2==0]
print(even_number)

[2, 4, 6, 8, 10]

In [2]:
##Flattening a list of lists: 2 for loops
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattend_list=[item for sublist in lists for item in sublist ]
print(flattend_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# Generating a list of the first letters of words in a list:
words = ['apple', 'banana', 'cherry', 'date']
first_letters=[word[0] for word in words]
print(first_letters)

['a', 'b', 'c', 'd']