In [9]:
my_string="saurav yadav"

In [10]:
my_string

'saurav yadav'

In [11]:
type(my_string)

str

In [12]:
my_string1=''  #emptystring

In [13]:
my_string1

''

In [14]:
type(my_string)

str

In [15]:
my_string='''i
like
python'''

In [16]:
type(my_string)

str

In [18]:
my_string   #\n represent the new line

'i\nlike\npython'

In [19]:
my_string="i love coding"

In [21]:
len(my_string)-1

12

In [22]:
my_string[5]

'e'

In [24]:
my_string[0:13]

'i love coding'

wap to take input from user and print it in reverse order

In [39]:
my_name=input("enter your name")
for i in range(len(my_name)-1,-1,-1):
    print(my_name[i])

enter your namesauav yadav
v
a
d
a
y

v
a
u
a
s

In [41]:
"saurav"+" "+"yadav"

'saurav yadav'

In [42]:
"saurav"+"@"+"yadav"

'saurav@yadav'

In [46]:
my_string="i love coding"

In [48]:
"i" in my_string

True

In [49]:
"i" not in my_string

False

In [50]:
x="saurav"
y="saurav"
z="yadav"

In [51]:
x is y

True

In [52]:
x is not y

False

In [53]:
x is not z

True

In [54]:
"saurav" == "saurav"

True

In [55]:
"saurav" != "saurav"

False

In [56]:
"a" > "b"

False

In [57]:
"a" < "b"

True

In [58]:
"saurav" > "yadav"

False

In [59]:
"tim" == "tie"

False

In [60]:
"arrow" > "aron"

True

In [61]:
"right" >= "left"

True

In [62]:
"teeth" < "tee"

False

In [63]:
"yellow" <= "fellow"

False

In [64]:
"abc" > " "

True

# function in string
len()
max()
min()
chr()
ord()

In [65]:
my_string="saurav yadav"

In [66]:
len(my_string)

12

In [67]:
len(my_string)-1

11

In [68]:
max(my_string) #give the greatest alphabet in string

'y'

In [69]:
min(my_string)  #give the smallest alphabet in the string

' '

In [71]:
ord("s") # give the unicode vale of string

115

In [73]:
chr(115) # chr call the string on base of their unicode value

's'

# String Method

In [81]:
# Capitalize :- it return with first character capital of first word and rest the character in lower case
my_string="saurav yadav"
my_string.capitalize()

'Saurav yadav'

In [77]:
#lower() make all character in lower case
#upper() make all character in uper case
my_string.upper()

'SAURAV YADAV'

In [78]:
my_string.lower()

'saurav yadav'

In [79]:
#swapcase:- it make lower case to upper case and vice versa
my_string1="Saurav Yadav"
my_string1.swapcase()

'sAURAV yADAV'

In [80]:
my_string2="sAURAV yADAV"
my_string2.swapcase()

'Saurav Yadav'

In [82]:
#Title:- it convert the first letter of all the word to upper case and return rest in lower case
my_string = "i lOVe pYTHoN"
my_string.title()

'I Love Python'

In [89]:
#islower() :- it return True and Flase if all letter in lower case
#isupper() :- it return True and Flase if all letter in upper case
my_string1 = "this python code"
my_string1.islower()

True

In [90]:
my_string1.isupper()

False

In [92]:
my_string2="THIS PYTHON CODE"
my_string2.islower()

False

In [93]:
my_string2.isupper()

True

In [99]:
#isalph() :- it return True for if string contain only alphabets and Flase for rest case
my_string1 = "this python code"

In [101]:
my_string1.isalpha()

False

In [102]:
my_string1 = "thispythoncode"
my_string1.isalpha()

True

In [104]:
#isdigit() :-  it return True for if string contain only digit and Flase for rest case
my_string = "1 26941"
my_string.isdigit()

False

In [105]:
my_string = "126941"
my_string.isdigit()

True

In [110]:
#isalnum :- it return True for if string contain alphabets and digit and Flase for rest case
mystring="saurav123"
mystring1="saurav"
mystring2="1232345"
mystring3="saurav123 yadav456"
mystring4="ehrfjk$%*"

In [111]:
print(mystring.isalnum())
print(mystring1.isalnum())
print(mystring2.isalnum())
print(mystring3.isalnum())
print(mystring4.isalnum())

True
True
True
False
False

In [112]:
#isspace() :- it return True for space and Flase for rest of all case
my_string="S"
my_string.isspace()

False

In [113]:
my_string=""
my_string.isspace()

False

In [114]:
my_string=" "
my_string.isspace()

True

In [117]:
# startswith() :- it return True if the string start with give word and Flase for rest of all case
# endswith() :-   it return True if the string end with give word and Flase for rest of all case
my_string = "i am learing machine learning"
my_string.startswith("i")

True

In [118]:
my_string.endswith("i")

False

In [119]:
my_string.endswith("learning")

True

In [121]:
#index() :-
my_string = "i am learing machine learning"
my_string.index("am") # it is giving the index of first alphabet

2

In [122]:
# count() :-
my_string = "i am learing machine learning"
my_string.count("am")

1

In [123]:
#split :-
"i@love@my@india".split("@")

['i', 'love', 'my', 'india']

In [124]:
"@".join(["s","a","u","r","a","v"])

's@a@u@r@a@v'

In [125]:
"".join(["s","a","u","r","a","v"])

'saurav'

In [126]:
" ".join(["s","a","u","r","a","v"])

's a u r a v'

# f-string
string interpolation

In [127]:
name="saurav"
age=26

In [128]:
# time com complexity is very less
print(f"my name is {name} my age is {age}")

my name is saurav my age is 26

# Dictionary in python

# syntax 
{ key1:value1
  key2:value2
  key3:value3
   .
   .
   .
   keyn:valuen}

In [129]:
mydict={} #empty dictionary

In [130]:
type(mydict)

dict

In [146]:
mydict = {1:"saurav",2:"lokesh",3:"dipesh"}

In [132]:
type(mydict)

dict

In [143]:
#acessing dict
mydict.get(1)

'saurav'

In [144]:
for i in mydict:
    print(i) # print only key

1
2
3

In [148]:
for i in mydict.keys():
    print(i)  # print only key

1
2
3

In [149]:
for i in mydict.values():
    print(i)  # print only values

saurav
lokesh
dipesh

In [150]:
for i in mydict.items():
    print(i)  # print both keys and values

(1, 'saurav')
(2, 'lokesh')
(3, 'dipesh')

#update in dict
1. subscript operator
2. update function

In [151]:
mydict = {1:"saurav",2:"lokesh",3:"dipesh"}

In [152]:
mydict[4] = "anant"
print(mydict)

{1: 'saurav', 2: 'lokesh', 3: 'dipesh', 4: 'anant'}

In [155]:
mydict.update({5:"anmol"})
print(mydict)

{1: 'saurav', 2: 'lokesh', 3: 'dipesh', 4: 'anant', 5: 'anmol'}

function for the dict
len()

max()

min()

any()

all()

sorted()

dict()

In [157]:
len(mydict)

5

In [158]:
max(mydict)

5

In [159]:
min(mydict)

1

In [160]:
any(mydict)

True

In [161]:
all(mydict)

True

In [162]:
sorted(mydict)

[1, 2, 3, 4, 5]

# methods in dictionary
clear()

copy()

setdefault()

get()

keys()

values()

items() 

updated() 

pop()

popitem()

In [163]:
mydict.get(1)

'saurav'

In [165]:
for i in mydict.keys():
    print(i)

1
2
3
4
5

In [166]:
for i in mydict.values():
    print(i)

saurav
lokesh
dipesh
anant
anmol

In [167]:
for i in mydict.items():
    print(i)

(1, 'saurav')
(2, 'lokesh')
(3, 'dipesh')
(4, 'anant')
(5, 'anmol')

In [168]:
mydict2 = mydict.copy()
print(mydict2)

{1: 'saurav', 2: 'lokesh', 3: 'dipesh', 4: 'anant', 5: 'anmol'}

In [170]:
mydict3 = mydict.clear()
print(mydict3)

None

In [173]:
mydict.update({6:"ankit"})
print(mydict)

{6: 'ankit'}

In [176]:
mydict = {1:"saurav",2:"lokesh",3:"dipesh"}

In [177]:
mydict.pop(1)

'saurav'

In [178]:
mydict

{2: 'lokesh', 3: 'dipesh'}

In [181]:
mydict.popitem() #remove the last item

(2, 'lokesh')

In [180]:
mydict

{2: 'lokesh'}

In [182]:
d = {'a': 97, 'b': 98} 
print("setdefault() returned:", d.setdefault('b', 99)) 
print("After using setdefault():", d)

setdefault() returned: 98
After using setdefault(): {'a': 97, 'b': 98}