In [1]:
my_tuple=()

In [2]:
type(my_tuple)

tuple

In [3]:
my_tuple=(1,2,3,4,5,6,7,8,9)

In [4]:
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
my_tuple=(25,77,21,"saurav",2.58)

In [6]:
my_tuple

(25, 77, 21, 'saurav', 2.58)

In [7]:
type(my_tuple)

tuple

In [16]:
my_tuple=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)

In [19]:
len(my_tuple)-1

14

In [21]:
my_tuple[5]

6

In [24]:
my_tuple[-10]

6

In [25]:
my_tuple[::-1]

(15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [26]:
my_tuple[0:14]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [27]:
my_tuple[0:14:3]

(1, 4, 7, 10, 13)

In [29]:
my_tuple[14:0:-1]

(15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2)

In [30]:
my_tuple[-1:-14]

()

In [32]:
my_tuple[-15:-1]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [33]:
my_tuple[-15:-2:3]

(1, 4, 7, 10, 13)

In [35]:
my_tuple[5]=8
#error is because tuple are unmutable

TypeError: 'tuple' object does not support item assignment

# function in tuple
len()

max()

min()

sum()

sorted()

any()

all()

tuple()

In [36]:
my_tuple=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)

In [37]:
len(my_tuple)

15

In [38]:
max(my_tuple)

15

In [39]:
min(my_tuple)

1

In [41]:
sorted(my_tuple)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [43]:
sorted(my_tuple,reverse=True)

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [44]:
sum(my_tuple)

120

In [45]:
all(my_tuple)

True

In [46]:
any(my_tuple)

True

# methods for tuple
1. append()# it won't work
2. extend()# it won't work
3. insert()# it won't work
4. count()#work
5. index()#work
6. clear()# it won't work
7. pop()# it won't work
8. remove()# it won't work
8. sort()
9. reverse()

In [52]:
my_tuple=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)

In [53]:
my_tuple.append(19)

AttributeError: 'tuple' object has no attribute 'append'

In [54]:
my_tuple.extend([18,19])

AttributeError: 'tuple' object has no attribute 'extend'

In [55]:
my_tuple.insert(20)

AttributeError: 'tuple' object has no attribute 'insert'

In [56]:
my_tuple.count(5)

1

In [57]:
my_tuple.index(5)

4

In [62]:
my_tuple.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [60]:
my_tuple.pop(4)

AttributeError: 'tuple' object has no attribute 'pop'

In [63]:
my_tuple.remove(5)

AttributeError: 'tuple' object has no attribute 'remove'

In [64]:
my_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [65]:
my_tuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

# Set
1. we can not keep duplicate value
2. we can not use subscript operator(we can not do indexing as well as slicing)
3. set is unordered collection

In [2]:
myset={1,234,46,67,6,465,68,8}

In [3]:
type(myset)

set

In [4]:
myset = set(["a", "b", "c"])
print(myset)

{'b', 'a', 'c'}

In [5]:
# Adding element to the set
myset.add("d")
print(myset)

{'b', 'd', 'a', 'c'}

In [6]:
myset[0]

TypeError: 'set' object is not subscriptable

In [8]:
myset[1:4]

TypeError: 'set' object is not subscriptable

In [9]:
set([1,2,3,4,5,6])

{1, 2, 3, 4, 5, 6}

In [10]:
myset.clear()

In [11]:
myset

set()

In [12]:
myset={1,234,46,67,6,465,68,8}

In [13]:
myset.copy()

{1, 6, 8, 46, 67, 68, 234, 465}

In [14]:
myset.pop(5)

TypeError: set.pop() takes no arguments (1 given)

In [16]:
myset.remove(8)

In [17]:
myset

{1, 6, 46, 67, 68, 234, 465}

In [18]:
myset.clear()

In [19]:
myset

set()